### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_path = "Resources/HeroesOfPymoli_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_path)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
# Remove duplicates of same player
player_count_df = purchase_data.drop_duplicates(subset=['SN'], keep='first')

# Find count of all players
player_count = player_count_df["SN"].count()

# Convert to DataFrame
player_count = pd.DataFrame({player_count_df["SN"].count()})

In [3]:
# Rename header and output new  dataframe
player_count.columns = ["Total Players"]
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Run basic calculation to obtain number of unique items
# Remove duplicates of "Item ID"
unique_items = purchase_data.drop_duplicates(subset=['Item ID'], keep='first')

# Count of all unique "Item ID"
unique_ItemID_count = unique_items["Item ID"].count()
# unique_ItemID_count

In [5]:
# Run basic calculation to obtain average price
avg_price = purchase_data["Price"].mean()
# avg_price

In [6]:
# Run basic calculation to obtain total number of purchases
total_purchases = purchase_data["Purchase ID"].count()
# total_purchases

In [7]:
# Run basic calculation to obtain total revenue
total_revenue = purchase_data["Price"].sum()
# total_revenue

In [8]:
# Create Purchasing Analysis DataFrame
purchase_analysis_df = pd.DataFrame({
    'Number of Unique Items': [unique_ItemID_count],
    'Average Price': [avg_price],
    'Number of Purchases': [total_purchases],
    'Total Revenue': [total_revenue]
})

# Format Average Price and Total Revenue for currency and decimal places
purchase_analysis_df.style.format({"Average Price":'${0:,.2f}', "Total Revenue":'${0:,.2f}'})

# Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# Find unique values in "Gender" column
gender_counts = player_count_df["Gender"].value_counts()
# gender_counts.head()

In [10]:
# Run basic calculation to obtain total gender values
total_gender = player_count_df["Gender"].count()
# total_gender

In [11]:
# Count Male gender
male_count = (player_count_df["Gender"] == 'Male').sum()
# male_count

In [12]:
# Percentage of Male
percent_male = ((male_count/total_gender) * 100).round(2)
# percent_male

In [13]:
# Count Female gender
female_count = (player_count_df["Gender"] == 'Female').sum()
# female_count

In [14]:
# Percentage of Female
percent_female = ((female_count/total_gender) * 100).round(2)
# percent_female

In [15]:
# Count Other gender
other_count = (player_count_df["Gender"] == 'Other / Non-Disclosed').sum()
# other_count

In [16]:
# Percentage of Other
percent_other = ((other_count/total_gender) * 100).round(2)
# percent_other

In [17]:
# Create Purchasing Analysis DataFrame
gender_demographics_df = pd.DataFrame({
    'Total Count': [male_count, female_count, other_count],
    'Percentage of Players': [percent_male, percent_female, percent_other]
})

gender_demographics_df['Percentage of Players'] = pd.Series(["{0:.2f}%".format(val * 1) for val in gender_demographics_df['Percentage of Players']], index = gender_demographics_df.index)

In [18]:
gender_demographics_df.index.name = ("Gender")

In [19]:
gender_demographics_df.rename({0: 'Male', 1: 'Female', 2: 'Other / Non-Disclosed'}, axis = 'index')

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
# Purchasing Analysis filtered by Male
male_df = purchase_data.loc[purchase_data["Gender"] == "Male", :]

In [21]:
# Count Male purchases
purchase_count_male = male_df["Purchase ID"].count()

In [22]:
# Run basic calculation to obtain average price - Male
avg_price_male = male_df["Price"].mean()

In [23]:
# Run basic calculation to obtain total revenue - Male
total_revenue_male = male_df["Price"].sum()

In [24]:
# Purchasing Analysis filtered by Female
female_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]

In [25]:
# Count Female purchases
purchase_count_female = female_df["Purchase ID"].count()

In [26]:
# Run basic calculation to obtain average price - Female
avg_price_female = female_df["Price"].mean()

In [27]:
# Run basic calculation to obtain total revenue - Female
total_revenue_female = female_df["Price"].sum()

In [28]:
# Purchasing Analysis filtered by Other / Non-Disclosed
other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

In [29]:
# Count Other / Non-Disclosed purchases
purchase_count_other = other_df["Purchase ID"].count()

In [30]:
# Run basic calculation to obtain average price - Other / Non-Disclosed
avg_price_other = other_df["Price"].mean()

In [31]:
# Run basic calculation to obtain total revenue - Other / Non-Disclosed
total_revenue_other = other_df["Price"].sum()

In [32]:
# Average Purchase Total per Person by Male
avg_PurchasePP_male = (total_revenue_male/male_count).round(2)

In [33]:
# Average Purchase Total per Person by Female
avg_PurchasePP_female = (total_revenue_female/female_count).round(2)

In [34]:
# Average Purchase Total per Person by Other / Non-Diclosed
avg_PurchasePP_other = (total_revenue_other/other_count).round(2)

In [35]:
# Create Purchasing Analysis (Gender) DataFrame
purchase_analysis_gender_df = pd.DataFrame({
    'Purchase Count': [purchase_count_male, purchase_count_female, purchase_count_other],
    'Average Purchase Price': [avg_price_male, avg_price_female, avg_price_other],
    'Total Purchase Value': [total_revenue_male, total_revenue_female, total_revenue_other],
    'Avg Total Purchase per Person': [avg_PurchasePP_male, avg_PurchasePP_female, avg_PurchasePP_other]
})

In [36]:
# Format for currency and decimal places
purchase_analysis_gender_df['Average Purchase Price'] = purchase_analysis_gender_df['Average Purchase Price'].map("${0:.2f}".format)
# 
purchase_analysis_gender_df['Total Purchase Value'] = purchase_analysis_gender_df['Total Purchase Value'].map("${0:,.2f}".format)
# 
purchase_analysis_gender_df['Avg Total Purchase per Person'] = purchase_analysis_gender_df['Avg Total Purchase per Person'].map("${0:.2f}".format)

In [37]:
purchase_analysis_gender_df.index.name = ("Gender")

In [38]:
purchase_analysis_gender_df.rename({0: 'Male', 1: 'Female', 2: 'Other / Non-Disclosed'}, axis = 'index')

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [39]:
# Establish bins for ages
bins=[0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

group_label = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [40]:
# Categorize existing players by bins
purchase_data['age_ranges'] = pd.cut(purchase_data['Age'], bins, labels = group_label)

In [41]:
# Group by age bins
age_groups = purchase_data.groupby('age_ranges')

In [42]:
# Count players per age bin
count_per_bin = age_groups["SN"].nunique()
# count_per_bin

In [43]:
# Count players
player_count = player_count_df["SN"].count()

In [44]:
# Calculate age group percentage of player count
age_group_percent = (count_per_bin/player_count) * 100

In [45]:
# Create Purchasing Analysis DataFrame
age_demographics_df = pd.DataFrame({'Total Count': count_per_bin, 'Percentage of Players': age_group_percent})

age_demographics_df['Percentage of Players'] = pd.Series(["{0:.2f}%".format(val * 1) for val in age_demographics_df['Percentage of Players']], index = age_demographics_df.index)

age_demographics_df.index.name = None

age_demographics_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
# Count purchases per age bin
purchase_count_bin = age_groups["SN"].count()

In [47]:
# Total purcases
total_purchase_value = age_groups["Price"].sum()

In [48]:
# Count purchases per age bin
avg_purchase_price_bin = age_groups["Price"].mean().round(2)

In [49]:
avg_total_purchasePP = (total_purchase_value/count_per_bin).round(2)

In [50]:
# Create Purchasing Analysis (Age) DataFrame
purchase_analysis_age_df = pd.DataFrame({
    'Purchase Count': purchase_count_bin,
    'Average Purchase Price': avg_purchase_price_bin,
    'Total Purchase Value': total_purchase_value,
    'Avg Total Purchase per Person': avg_total_purchasePP
})

In [51]:
# Format for currency and decimal places
purchase_analysis_age_df['Average Purchase Price'] = purchase_analysis_age_df['Average Purchase Price'].map("${:.2f}".format)
purchase_analysis_age_df['Total Purchase Value'] = purchase_analysis_age_df['Total Purchase Value'].map("${0:,.2f}".format)
purchase_analysis_age_df['Avg Total Purchase per Person'] = purchase_analysis_age_df['Avg Total Purchase per Person'].map("${}".format)

In [52]:
purchase_analysis_age_df.index.name = ("Age Ranges")

In [53]:
purchase_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [54]:
# Get spending data
spend_data = purchase_data.groupby("SN")

In [55]:
# Count purchases per player
player_purchase_count = spend_data["Purchase ID"].count().round(2)

In [56]:
# Average spend per player
avg_player_spend = spend_data["Price"].mean().round(2)

In [57]:
# Total spend per player
total_player_spend = spend_data["Price"].sum().round(2)

In [58]:
# Create Top Spenders DataFrame
top_spenders_df = pd.DataFrame({"Purchase Count": player_purchase_count,
                               "Average Purchase Price" : avg_player_spend,
                                "Total Purchase Value": total_player_spend
})

In [59]:
# Find top 5 spenders
top5_spenders_df = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head(5)

In [60]:
# Format for currency and decimal places                                 
top5_spenders_df["Average Purchase Price"] = top5_spenders_df["Average Purchase Price"].map("${:.2f}".format)
top5_spenders_df["Total Purchase Value"] = top5_spenders_df["Total Purchase Value"].map("${:.2f}".format)

In [61]:
top5_spenders_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [62]:
# Group by Item ID and Item Name
items_group = purchase_data.groupby(["Item ID", "Item Name"])

In [63]:
item_purchase_count = items_group["Item ID"].count().sort_values(ascending = False)

In [64]:
total_purchase_value = items_group["Price"].sum().sort_values(ascending = False)

In [65]:
item_price = (total_purchase_value / item_purchase_count).round(2)

In [66]:
# Create Most Popular Items DataFrame
most_popular__df = pd.DataFrame({"Purchase Count": item_purchase_count,
                               "Item Price" : item_price,
                                "Total Purchase Value": total_purchase_value
})

In [67]:
# Find top 5 spenders
top5_profitable_df = most_popular__df.sort_values(["Purchase Count"], ascending=False).head(5)

In [68]:
# Format for currency and decimal places                                 
top5_profitable_df["Item Price"] = top5_profitable_df["Item Price"].map("${:.2f}".format)
top5_profitable_df["Total Purchase Value"] = top5_profitable_df["Total Purchase Value"].map("${:.2f}".format)

In [69]:
top5_profitable_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [70]:
# Find Most Profitable
most_profitable_df = most_popular__df.sort_values(["Total Purchase Value"], ascending=False).head(5)

In [71]:
most_profitable_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80